.logo {
  padding-left: 5%;
  padding-bottom: 4%;
  padding-top: 3%;
}
.ley {
  width: 23%;
  padding-top: 6%;
}
.nav-link {
  color: white;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  margin-left: 7px;
  margin-right: 7px;
}
.dropdown {
  padding-left: 7px;
  padding-right: 7px;
}
.galeria {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: bolder;
}
.galeria2 {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.titulo1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  color: black;
  font-weight: bolder;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  margin-left: 5%;
  margin-top: 12%;
  padding-bottom: 5%;
}
.nav-tabs {
  margin-top: 3px;
  margin-bottom: 3px;
}
.dropdown-item {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}
.container-fluid {
  background-color: white;
}
.tramites {
  width: 60%;
  margin-left: 3%;
}
.tramite2 {
  display: grid;
  grid-template-columns: 50% 50%;
}
.boton {
  width: 25%;
  height: 32px;
  margin-left: 60%;
  margin-top: 15%;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  border-radius: 10px;
}
.icono1 {
  width: 35%;
  margin-top: 20%;
  margin-left: 22%;
  margin-right: auto;
}
.icono2 {
  width: 35%;
  margin-top: 32%;
  margin-left: 25%;
  margin-right: auto;
}
.icono3 {
  width: 35%;
  margin-top: 36%;
  margin-left: 30%;
  margin-right: auto;
}
.nombreicono1 {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin-left: 2%;
  margin-right: auto;
  margin-top: 10%;
}
.nombreicono2 {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin-top: 10%;
}
.nombreicono3 {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin-top: 10%;
  text-align: center;
}
.lateral {
  width: 100%;
  padding-bottom: 2%;
}
.col-md {
  margin-left: 5%;
}
.col-sm {
  margin-left: 6%;
  margin-right: 3%;
}
.card {
  margin-bottom: 8%;
  padding-bottom: 2%;
}
.card-title {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
}
.card-text {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: lighter;
  line-height: 18px;
}
.btn-primary {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  font-weight: lighter;
  background-color: white;
  color: black;
  border-color: black;
  margin-top: 2px;
  margin-left: 33%;
}
