.logo {
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 4%;
}
.ley {
  width: 23%;
  padding-top: 5%;
}
.nav-link {
  color: white;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
}
.tramites {
  margin-left: auto;
  margin-right: auto;
}
.titulo1 {
  color: black;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  margin-left: 2%;
  padding-top: 2%;
}
.nav-tabs {
  margin-top: 3px;
  margin-bottom: 3px;
}
.container-fluid {
  background-color: rgba(245, 160, 44, 0.4);
}
